@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', 'sans-serif';

  --color-background: #020617; /* Slate 950 */
  --color-foreground: #e2e8f0; /* Slate 200 */
  --color-card: theme('colors.indigo.950 / 70%');
  --color-accent: #38bdf8; /* Sky 400 */
  --color-muted: #94a3b8; /* Slate 400 */
  --color-border: theme('colors.sky.400 / 30%');
  --color-ring: #0ea5e9; /* Sky 500 */
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
    /* Adding a subtle gradient and aurora effect to the background */
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.15), rgba(255, 255, 255, 0));
  }
}
